.vs/Licitacija/DesignTimeBuild/.dtbcache.v2
.vs/Licitacija/v17/.suo
.vs/Licitacija/FileContentIndex/1244257e-911c-41b8-971d-8da8dc899cfe.vsidx
.vs/Licitacija/FileContentIndex/6f08dcb7-77b0-4be9-af25-90d6394cc17c.vsidx
.vs/Licitacija/FileContentIndex/c05cdf30-a1c5-41a6-9bb0-45eac0f26a88.vsidx
.vs/Licitacija/FileContentIndex/f8c99710-4cb9-4806-ad2c-74060ad8eb0c.vsidx
.vs/Licitacija/v17/.futdcache.v2
