.vs/
Licitacija.Services.AdresaAPI/obj/
Licitacija.Services.AdresaAPI/bin/
Licitacija.Services.Gateway/obj/
Licitacija.Services.Gateway/bin/
Licitacija.Services.Identity/obj/
Licitacija.Services.Identity/bin/
Licitacija.Services.KupacAPI/obj/
Licitacija.Services.KupacAPI/bin/
Licitacija.Services.LicitacijaAPI/obj/
Licitacija.Services.LicitacijaAPI/bin/
Licitacija.Services.NadmetanjeAPI/obj/
Licitacija.Services.NadmetanjeAPI/bin/
Licitacija.Services.ParcelaAPI/obj/
Licitacija.Services.ParcelaAPI/bin/
Licitacija.Services.PredradnjeNadmetanjaAPI/obj/
Licitacija.Services.PredradnjeNadmetanjaAPI/bin/
Licitacija.Services.UplataAPI/obj/
Licitacija.Services.UplataAPI/bin/
Licitacija.Services.ZalbaAPI/obj/
Licitacija.Services.ZalbaAPI/bin/
